
@font-face {
  font-family: 'helvetica_lt_bold';
  src: url('assets/helveticaltstd-bold-webfont.ttf');
}

@font-face {
  font-family: 'helvetica_lt_light';
  src: url('assets/helveticaltstd-light-webfont.ttf');
}

@font-face {
  font-family: 'helvetica_lt_roman';
  src: url('assets/helveticaltstd-roman-webfont.ttf');
}

body{
  font-family: 'helvetica_lt_roman', sans-serif;
  font-size:1.1em;
  background-color:#FFFFFF;
}

#main_menu{
  background-color:#DFDFDF;
  box-shadow: 0px 3px 2px #333;
}

#main_menu a {
   color:#E38888;
   text-shadow: 1px 1px rgba(200,200,200,1);
   font-size:1.1em;
   font-weight:600;
}


section{
  background: #f1f1f1;
  background: -moz-linear-gradient(top,  #f1f1f1 0%, #fafafa 100%);
  background: -webkit-linear-gradient(top,  #f1f1f1 0%,#fafafa 100%);
  background: linear-gradient(to bottom,  #f1f1f1 0%,#fafafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#fafafa',GradientType=0 );
}

h1{
  color:#FFF;
  font-size:3em;
  text-shadow: 2px 2px #000;
  font-weight:900;
}

h2, h3{
  color:#656565;
  font-weight:300;
}

h2{
  font-size:2.5em;
}

h3{
  font-size:1.5em;
}

h4{
  color:#E38888;
  font-weight:600;
}

p, a{
  color:#656565;
  font-weight:300;
}

#contact_form{
  background-color:rgba(0,0,0,0.2);
}

#contact_form label{
  font-size:1.1em;
  text-shadow: 1px 1px #333;
  color:#F3F1ED;
}

#contact_form input{
  border:0px;
  border-radius:5px;
  box-shadow: 0px 1px 1px #333;
  background-color:#F3F1ED;
}

#btnContact{
  font-size:1em;
  font-weight:600;
  text-shadow: 0.5px 0.5px #333;
  background: #F7DFA5;
  background: -moz-linear-gradient(top,  #F7DFA5 0%, #F0C14B 100%);
  background: -webkit-linear-gradient(top,  #F7DFA5 0%,#F0C14B 100%);
  background: linear-gradient(to bottom,  #F7DFA5 0%,#F0C14B 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7DFA5', endColorstr='#F0C14B',GradientType=0 );
}

